<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin.css">
  <title>URLATE EMS</title>
</head>
<body>
  <span id="title"><span id="titleStrong">URLATE</span> EVENT MANAGEMENT SYSTEM</span>
  <p id="listTitle">Connected List</p>
  <div id="listContainer"></div>
  <button id="mainButton" onclick="buttonClicked()">Start</button><button id="subButton" class="hidden" onclick="subButtonClicked()">Retry</button>
  <script>
      const projectUrl = "<%= url %>";
      const game = "<%= game %>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="/js/playerModules.js"></script>
  <script src="/js/admin.js"></script>
</body>
</html>