<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin.css">
  <title>URLATE EMS</title>
</head>
<body>
  <span id="title"><span id="titleStrong">URLATE</span> EVENT MANAGEMENT SYSTEM</span>
  <p id="listTitle">Connected List</p>
  <div id="listContainer">
    <p class="listElement"><strong>Player 1</strong> - 40nfn301dnce482fb20920j1v2</p>
  </div>
  <button id="mainButton">Start</button><button id="subButton">Retry</button>
  <script src="/js/admin.js"></script>
</body>
</html>