<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/display.css">
  <title>URLATE Display</title>
</head>
<body>
  <div class="containers show" id="urlateVideoContainer" onclick="mediaPlay()">
    <video id="urlateVideo" autoplay loop>
      <source src="/videos/urlate.mp4" type="video/mp4">
    </video>
  </div>
  <div class="containers" id="spectateOverlay">
    <div class="containers show" id="albumOverlay">
      <span class="containerTitle">NOW SPECTATING</span>
      <img src="<%= cdn %>/albums/100/tutorial (Custom).png" id="albumOverlayAlbum">
      <span id="albumOverlayTrack">Tutorial</span>
      <span id="albumOverlayProducer">Geoplex</span>
    </div>
    <div class="vContainers">
      <div class="hContainers">
        <div class="textArea">
          <span class="scoreText">000,000,000</span>
        </div>
        <div class="contentArea">
          <div class="colorOverlayContainer"></div>
          <canvas class="spectateCanvas"></canvas>
          <img src="/images/parts/elements/wall.svg" class="wallLeft">
          <img src="/images/parts/elements/wall.svg" class="wallRight">
          <div class="nameContainer bottomRight"></div>
        </div>
      </div>
      <div class="hContainers">
        <div class="textArea">
          <span class="scoreText">000,000,000</span>
        </div>
        <div class="contentArea">
          <div class="colorOverlayContainer"></div>
          <canvas class="spectateCanvas"></canvas>
          <img src="/images/parts/elements/wall.svg" class="wallLeft">
          <img src="/images/parts/elements/wall.svg" class="wallRight">
          <div class="nameContainer bottomLeft"></div>
        </div>
      </div>
    </div>
    <div class="vContainers">
      <div class="hContainers">
        <div class="contentArea">
          <div class="colorOverlayContainer"></div>
          <canvas class="spectateCanvas"></canvas>
          <img src="/images/parts/elements/wall.svg" class="wallLeft">
          <img src="/images/parts/elements/wall.svg" class="wallRight">
          <div class="nameContainer topRight"></div>
        </div>
        <div class="textArea">
          <span class="scoreText">000,000,000</span>
        </div>
      </div>
      <div class="hContainers" id="rankingContainer">
        <div class="contentArea">
          <div id="rankContainer">
          </div>
          <div id="rankContainerTrack">
            <div id="rankContainerLeft">
              <div id="rankContainerLeftTop">
                <div id="rankContainerLeftInformation">
                  <div class="rankContainerLeftInformationColumn">
                    <span class="rankContainerInfoTitle">Note</span>
                    <span class="rankContainerInfoTitle">Bullet</span>
                    <span class="rankContainerInfoTitle">Speed</span>
                    <span class="rankContainerInfoTitle">BPM</span>
                  </div>
                  <div class="rankContainerLeftInformationColumn">
                    <span class="rankContainerInfoValue">3</span>
                    <span class="rankContainerInfoValue">13</span>
                    <span class="rankContainerInfoValue">1</span>
                    <span class="rankContainerInfoValue">185</span>
                  </div>
                </div>
                <div id="rankContainerLeftTrack">
                  <span id="rankContainerTitle">Tutorial</span>
                  <span id="rankContainerProducer">Geoplex</span>
                </div>
              </div>
              <div id="rankContainerLeftBottom">
                <div id="rankContainerDuration"></div>
              </div>
            </div>
            <div id="rankContainerRight"></div>
          </div>
        </div>
        <div class="textArea">
          <span class="scoreText">RANKING</span>
        </div>
      </div>
    </div>
  </div>
  <div class="containers" id="rankAnimationOverlay">
    <div id="rankAnimation">
      <div class="rankAnimationLine" id="rankAnimationLineTop"></div>
      <span>RANKING</span>
      <div class="rankAnimationLine" id="rankAnimationLineBottom"></div>
    </div>
  </div>
  <div class="containers" id="rankScreenContainer">
    <div id="animContainer"></div>
    <div id="rankScreen">
      <div id="rankScreenElementsContainer">
      </div>
    </div>
    <div id="rankScreenTrack">
      <div id="rankScreenTrackLeft">
        <div id="rankScreenTrackDetail">
          <div class="rankScreenTrackDetailColumn">
            <span class="rankContainerInfoTitle">Note</span>
            <span class="rankContainerInfoTitle">Bullet</span>
            <span class="rankContainerInfoTitle">Speed</span>
            <span class="rankContainerInfoTitle">BPM</span>
          </div>
          <div class="rankScreenTrackDetailColumn">
            <span class="rankContainerInfoValue">3</span>
            <span class="rankContainerInfoValue">13</span>
            <span class="rankContainerInfoValue">1</span>
            <span class="rankContainerInfoValue">185</span>
          </div>
        </div>
        <div id="rankScreenTrackInformation">
          <span id="rankScreenTrackTitle">Tutorial</span>
          <span id="rankScreenTrackProducer">Geoplex</span>
        </div>
      </div>
      <div id="rankScreenTrackRight">
      </div>
    </div>
  </div>
  <div id="randomContainerBackground" class="containers">
      <span id="randomContainerTitle">선곡중..</span>
      <span id="randomContainerSeconds"><span id="randomContainerSecondsValue"></span>초</span>
      <div id="randomContainer">
          <div class="randomContainerTrackContainer">
              <span class="randomContainerName"></span>
              <div class="randomContainerImage"></div>
              <span class="randomContainerTrack"></span>
              <span class="randomContainerProducer"></span>
              <img src="/images/parts/icons/arrowup.svg" class="randomContainerArrow">
          </div>
          <div class="randomContainerTrackContainer">
              <span class="randomContainerName"></span>
              <div class="randomContainerImage"></div>
              <span class="randomContainerTrack"></span>
              <span class="randomContainerProducer"></span>
              <img src="/images/parts/icons/arrowup.svg" class="randomContainerArrow">
          </div>
          <div class="randomContainerTrackContainer">
              <span class="randomContainerName"></span>
              <div class="randomContainerImage"></div>
              <span class="randomContainerTrack"></span>
              <span class="randomContainerProducer"></span>
              <img src="/images/parts/icons/arrowup.svg" class="randomContainerArrow">
          </div>
      </div>
  </div>
  <script>
      const cdn = "<%= cdn %>";
      const url = "<%= url %>";
      const game = "<%= game %>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.5/lottie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
  <script src="/js/playerModules.js"></script>
  <script src="/js/display.js"></script>
</body>
</html>