<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <title>URLATE</title>
</head>
<body oncontextmenu='return false'>
    <div id="animContainer" class="widthAnim"></div>
    <div id="logoContainer">
        <img src="/images/logos/URLATE_WHITE.png" id="logo" alt="URLATE">
        <span id="connection">Connecting..</span>
    </div>
    </div>
    <span id="footerLeft">
      Event Mode
    </span>
    <div id="footerRight">
        <div id="allContainer">
            <span><b>등급분류 일자</b>: 2021. 08. 06<br></span>
            <span><b>제명</b>: URLATE (얼레이트) | <b>상호</b>: 팀 크루아상<br></span>
            <span><b>이용등급</b>: 전체이용가 | <b>등급분류번호</b>: <a href="https://www.grac.or.kr/Statistics/Popup/Pop_StatisticsDetails.aspx?bfe594b3906a6fc21ebfb5982f7132cda6c813a6a053e8e5ec12581d53453bb0" class="link" onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;">제 GC-CC-NP-210806-002 호</a><br></span>
            <span><b>제작 · 배급업신고번호</b>: 제주시청 제 2021-000001 호 · 제주시청 제 2021-000003 호</span>
        </div>
        <img src="/images/logos/all.png" id="allImage">
    </div>
    <script>
        const projectUrl = "<%= url %>";
        const api = "<%= api %>";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.5/lottie.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>