@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://pvinis.github.io/iosevka-webfont/7.0.2/iosevka.css");
@import url("metropolis.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Metropolis", "Pretendard Variable", arial;
  letter-spacing: -0.5px;
  overflow: hidden;
  user-select: none;
}

.containers {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition-duration: 1s;
}

.containers.show {
  opacity: 1;
}

#urlateVideoContainer {
  pointer-events: all;
}

#urlateVideo {
  width: 100vw;
}

#albumOverlay {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTitle {
  position: fixed;
  top: 10vh;
  color: #000;
  font-size: 4vh;
  font-weight: 700;
}

#albumOverlayAlbum {
  width: 30vw;
}

#albumOverlayTrack {
  margin-top: 2vh;
  font-weight: 800;
  font-size: 4vh;
  color: #000;
}

#albumOverlayProducer {
  margin-top: 1vh;
  font-weight: 500;
  font-size: 3vh;
  color: #000;
}

#spectateOverlay {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vContainers {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hContainers {
  box-sizing: border-box;
  border: 2px solid white;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textArea {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 6vh;
}

.contentArea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 44vh;
}

.scoreText {
  font-weight: 800;
  font-size: 3.5vh;
  color: #000;
  transition-duration: 0.5s;
}

.scoreText.damaged {
  color: #ee6464;
  transition-duration: 0s;
}

#rankingContainer {
  background-image: url("/images/backgrounds/game.png");
  background-size: cover;
  background-position: center;
}

#rankContainer {
  box-sizing: border-box;
  padding: 2vw;
  width: 50vw;
  height: 34vh;
}

#rankContainerTrack {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 10vh;
  background-size: cover;
  background-position-x: center;
  animation-duration: 20s;
  animation-name: rankContainerArt;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#rankContainerLeft {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  width: calc(100% - 10vh);
  height: 10vh;
}

#rankContainerRight {
  box-sizing: border-box;
  border: 5px solid white;
  background-size: cover;
  background-position: center;
  width: 10vh;
  height: 10vh;
}

@keyframes rankContainerArt {
  0% {
    background-position-y: 25%;
  }

  100% {
    background-position-y: 75%;
  }
}

#rankContainerLeftTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 9vh;
}

#rankContainerLeftBottom {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 1vh;
}

#rankContainerDuration {
  transition-timing-function: linear;
  background-color: white;
  width: 0%;
  height: 1vh;
}

#rankContainerLeftInformation {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 9vh;
}

#rankContainerLeftTrack {
  color: white;
  padding-right: 1vw;
  width: calc(50% - 1vw);
  height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#rankContainerTitle {
  font-size: 3.5vh;
  font-weight: 800;
}

#rankContainerProducer {
  font-size: 2.5vh;
  font-weight: 400;
}

.rankContainerLeftInformationColumn {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 150%;
  font-size: 1.3vh;
}

.rankContainerInfoTitle {
  font-weight: 700;
}

.rankElements {
  color: black;
  font-size: 3vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 46vw;
  height: 6vh;
  transition-duration: 0.5s;
}

.rankElements.damaged {
  color: #ee6464;
  transition-duration: 0s;
}

.rankElementLeft {
  font-family: "iosevka web", "Pretendard Variable", arial;
}

.rankElementRank {
  font-weight: 900;
}

.rankElementName {
  font-weight: 600;
}

.rankElementGap {
  color: #ee6464;
  font-size: 2vh;
  transition-duration: 0s;
  opacity: 1;
}

.rankElementGap.hidden {
  opacity: 0;
}

.rankElements.second {
  margin-top: 6vh;
}

.rankElements.third {
  margin-top: 12vh;
}

.spectateCanvas {
  width: 100%;
  height: 100%;
}

.wallLeft {
  position: absolute;
  left: 1px;
  height: 100%;
  width: 15%;
}

.wallRight {
  transform: rotate(180deg);
  position: absolute;
  right: 1px;
  height: 100%;
  width: 15%;
}

.colorOverlayContainer {
  position: absolute;
  width: 50vw;
  height: 44vh;
  background-color: rgba(255, 100, 100, 0.3);
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.5s;
}

.colorOverlayContainer.show {
  opacity: 0.7;
  transition-duration: 0s;
}

#rankAnimationOverlay {
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}

#rankAnimation {
  z-index: 30;
  position: relative;
  font-size: 5vh;
  font-weight: 800;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background: url("/images/backgrounds/loading.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  transition-duration: 1s;
}

.rankAnimationLine {
  position: absolute;
  width: 100vw;
  height: 5px;
  background: linear-gradient(to right, #6fabfe, #b452ff);
}

#rankAnimationLineTop {
  top: 10px;
}

#rankAnimationLineBottom {
  bottom: 10px;
}

#rankScreenContainer {
  transition-duration: 0s;
  background-color: white;
  background-size: cover;
  background-position: center;
}

#animContainer {
  background-image: url("/images/backgrounds/main.png");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#animContainer > canvas {
  mix-blend-mode: color-burn;
}

#rankScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 80vh;
}

#rankScreenTrack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 20vh;
  background-size: cover;
  background-position-x: center;
  animation-duration: 20s;
  animation-name: rankContainerArt;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#rankScreenTrackLeft {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: calc(100% - 20vh);
  height: 20vh;
}

#rankScreenTrackRight {
  box-sizing: border-box;
  border: 10px solid white;
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 20vh;
}

#rankScreenTrackDetail {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 20vh;
}

#rankScreenTrackInformation {
  color: white;
  padding-right: 2vw;
  width: calc(50% - 2vw);
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#rankScreenTrackTitle {
  font-size: 6vh;
  font-weight: 800;
}

#rankScreenTrackProducer {
  font-size: 3vh;
  font-weight: 400;
}

.rankScreenTrackDetailColumn {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 150%;
  font-size: 2.5vh;
}

#rankScreenElementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px) saturate(200%);
  width: 100vw;
}

.rankScreenElements {
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: black;
  font-size: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  transition-duration: 0.5s;
}

.rankScreenElementGap {
  color: #ee6464;
  font-size: 3vh;
  transition-duration: 0s;
  opacity: 1;
}

.rankScreenElementRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.rankScreenElementDetails {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.rankScreenElementScore {
  font-weight: 700;
}

.rankScreenElementJudge {
  font-size: 3vh;
}

.rankScreenElementRank {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  font-weight: 900;
  font-size: 5vh;
}

.rankScreenElementRank.ss::before {
  content: "SS";
  color: #e7db35;
}

.rankScreenElementRank.s::before {
  content: "S";
  color: #e7db35;
}

.rankScreenElementRank.a::before {
  content: "A";
  color: #29cf4b;
}

.rankScreenElementRank.b::before {
  content: "B";
  color: #22c7f0;
}

.rankScreenElementRank.c::before {
  content: "C";
  color: #f14b66;
}

.rankScreenElementRank.f::before {
  content: "F";
  color: #c0c0c0;
}

#randomContainerBackground {
  background-size: cover;
  background-position: center;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition-duration: 0.5s;
}

#randomContainer {
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  transition-duration: 1s;
  transition-timing-function: linear;
  transform: scale(1);
}

#randomContainer.zoomIn {
  transition-duration: 3s;
  transform: scale(1.1);
}

#randomContainer.zoomOut {
  transition-duration: 0.1s;
  transform: scale(1);
}

#randomContainerTitle {
  z-index: 40;
  position: fixed;
  top: 5vh;
  font-size: 4.5vh;
  color: black;
  font-weight: 800;
}

#randomContainerSeconds {
  z-index: 40;
  position: fixed;
  bottom: 5vh;
  font-size: 3vh;
  color: black;
  font-weight: 500;
  opacity: 1;
  transition-duration: 0.5s;
}

#randomContainerSeconds.hide {
  opacity: 0;
}

#randomContainerSecondsValue {
  font-size: 4.5vh;
  font-weight: 800;
}

.randomContainerTrackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  width: 25vw;
  transition-duration: 0.5s;
  left: 0vw;
  right: 0vw;
}

.randomContainerTrackContainer.hide {
  opacity: 0;
}

.randomContainerTrackContainer.selected {
  position: relative;
}

.randomContainerName {
  font-size: 3vh;
  font-weight: 600;
}

.randomContainerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 20vw;
  height: 20vw;
  border: 3px solid white;
}

.randomContainerTrack {
  font-size: 4vh;
  font-weight: 700;
}

.randomContainerProducer {
  font-size: 2.5vh;
  font-weight: 400;
}

.randomContainerArrow {
  opacity: 0;
  margin-top: 2vh;
  width: 2vw;
}

.randomContainerArrow.show {
  opacity: 1;
}

.nameContainer {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 3vh;
  font-weight: 600;
}

.nameContainer.bottomRight {
  right: 0;
  bottom: 0;
}

.nameContainer.bottomLeft {
  left: 0;
  bottom: 0;
}

.nameContainer.topRight {
  right: 0;
  top: 0;
}

#overlayTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  width: 30vw;
  height: 10vh;
  top: 0;
  right: 35vw;
  text-align: center;
  backdrop-filter: blur(5px) saturate(120%);
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  color: black;
}

#overlayTextContainer > p {
  margin-top: 0;
  margin-bottom: 1vh;
  font-size: 3vh;
  font-weight: 800;
}

#overlayTextContainer > span {
  font-size: 2.5vh;
  font-weight: 500;
}
