@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: local("Metropolis Regular"), url("/fonts/Metropolis-Regular.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 200;
  src: local("Metropolis Extra Light"), url("/fonts/Metropolis-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 300;
  src: local("Metropolis Light"), url("/fonts/Metropolis-Light.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: local("Metropolis Thin"), url("/fonts/Metropolis-Thin.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  src: local("Metropolis Medium"), url("/fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  src: local("Metropolis Semi Bold"), url("/fonts/Metropolis-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: local("Metropolis Bold"), url("/fonts/Metropolis-Bold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  src: local("Metropolis Extra Bold"), url("/fonts/Metropolis-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  src: local("Metropolis Black"), url("/fonts/Metropolis-Black.woff") format("woff");
}
